body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

#menu-wrapper {
    padding: 0;
    list-style-type: none;
}

#hmenu {
    width: 412px;
    margin: 0 auto;
}

#hmenu > li {
    display: inline-block; 
}

#hmenu > li > a {
    display: block;
    padding: 10px 5px;
    width: 90px;
    
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#menu-wrapper,
li ul {
    background: #333;
}

#hmenu li:hover {
    background: #3c3d39; 
    text-shadow: 0 0 2px #000;
}


li ul {
    position: absolute; 
    display: none;    
}

li:hover ul {
    display: block;
}

.sub-menu {
    display: block;
    padding: 10px 5px;
    width: 130px; /* Alt menü genişliği */
}